<div class="bg">
    <div class="container_home">
        <div class="scroller">
            <div class="inner">
                <span>Hi! <%= @m_user.name %>.</span>
                <span>Good Day.</span>
                <span>Please Connect to your friends.</span>
                <span>Welcome from <a class="blue">CMM </a> <a class="blueb">Chat Application</a>.</span>
            </div>
        </div>
    </div>
</div>
<div>
    <%= render 'leftpanel/leftpanel' %>
</div>